{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h4>Enter new password</h4>
                <p>
                    Please enter your new password twice so we can verify you typed it in correctly.
                </p>

                <form class="form" method="POST">
                    {% csrf_token %}
                    <!-- Input:Text -->
                    <div class="form__field">
                            <input class="input input--text"
                                   id="formInput#text"
                                   type="password"
                                   name="{{ form.new_password1.name }}"
                                   placeholder="Enter your password"/>
                    </div>
                    <div class="form__field">
                            <input class="input input--text"
                                   id="formInput#text"
                                   type="password"
                                   name="{{ form.new_password2.name }}"
                                   placeholder="Confirm your password"/>

                    </div>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}