{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'login' %}">
                    <i class="im im-angle-left"></i></a>
                <br>
                <h4>Reset your password</h4>
                <p>Enter your email below, we'll send the instruction to reset your
                password !!</p>
                <form class="form" method="POST">
                    {% csrf_token %}
                    <!-- Input:Text -->
                    <div class="form__field">
                        <input class="input input--text"
                               id="formInput#text"
                               type="email"
                               name="email"
                               placeholder="Enter your email address"/>

                    </div>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}